parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
        - tests/cache/*
    
    # 忽略一些特定的錯誤
    ignoreErrors:
        # - '#Parameter \#1 \$value of function intval expects#'
    
    # 自定義規則
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
    # 處理動態屬性
    treatPhpDocTypesAsCertain: false
    
    # 報告設置
    tmpDir: tests/cache
    
    # 掃描其他檔案類型
    fileExtensions:
        - php
    
    # 設置自動加載
    bootstrapFiles:
        - vendor/autoload.php
    
    # 定義一些常量
    constants:
        APP_ENV: test
        
services:
    -
        class: PHPStan\Rules\Cast\UselessCastRule
        tags:
            - phpstan.rules.rule
            
    -
        class: PHPStan\Rules\Operators\OperatorRuleHelper
        tags:
            - phpstan.rules.rule